body {
  font-family: "Anaheim";
  font-size: 1.2em;
}

#outside {
  background-color: rgb(62, 219, 167);
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

form {
  margin: 0 auto;
  width: 70%;
  padding: 1em;
  border: 2px solid rgb(187, 32, 32);
  border-radius: 1em;
}
#survey-form {
  background-color: rgb(255, 255, 255);
}

fieldset {
  border: 1px solid rgb(21, 66, 214);
  margin: 10px;
}

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}

div + div {
  margin-top: 1em;
}

*/ input,
textarea {
  width: 200px;

  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: rgb(34, 170, 16);
}

textarea {
  vertical-align: top;

  height: 5em;

  resize: vertical;
}

.button {
  padding-left: 90px;
}

button {
  margin: 0.5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: rgb(228, 17, 17);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#submitbutton {
  display: flex;
  justify-content: center;
}
